/* App.css */

.App {
  text-align: left;
}

/* Container blocks */

header { 
  padding: 20px 60px;
  border-bottom: 2px solid gray;
  text-align: right;
}

.data-box-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

/* Headings */

h1,
h2 {
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
}

/* Data and Plot components */

.DataBox,
.Plot {
  margin: 20px 50px;
  border: 2px solid gray;
}

.DataBox {
  flex: 1;
  width: 40%;
  padding: 20px;
}

.Plot {
  padding: 0;
}

.Plot h2 {
  display: inline-block;
  padding: 20px;
  border-bottom: 2px solid gray;
}

.Plot canvas {
  width: 100%;
  height: 300px;
}

.plot-markers {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.plot-markers span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1em;
}
