/* index.css */
/* Font and normalization */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	box-sizing: border-box;
}

html, body, div, span, p, header, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

html {
	font: 18px 'Open Sans', sans-serif;
}

body {
	color: #444;
	background-color: white;
}
