/* index.css */

/* Font and Normalization */

* {
	box-sizing: border-box;
}

html, body, div, span, p, footer, header, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

html {
	font: 18px sans-serif;
}

body {
	color: #444;
	background-color: white;
}

footer, header {
	display: block;
}
